<div class="container">
    <div class="text-center mt-5 mb-5 pt-5 pb-5">
        <div class="error mx-auto" data-text="404">404</div>
        <p class="lead text-gray-800 mb-5">@localizer.GetValue("PageNotFound")</p>
        <a href="index.html">@localizer.GetValue("BackToIndex")</a>
    </div>
</div>